<ion-header [translucent]="true">
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <input class=”form-control” type=”text” name=”search”  placeholder="Search here by id,name country"   [(ngModel)]="searchText">
    <ion-grid>
      <ion-row *ngFor="let curso of cursos; let i = index" width=30%>
        <ion-col *ngIf="curso.nombre === searchText" >
          <ion-card class="w30" >
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png"  height="200px" class="imgCatalogo" />
          <ion-card-header>
            <ion-card-title>{{curso.nombre}}</ion-card-title>
            <ion-card-subtitle>{{curso.precio}}</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            {{curso.descripcion}}
          </ion-card-content>
        </ion-card>
      </ion-col>
      </ion-row>
      <ion-button expand="true" (click) ="irAHome()" >Volver a Home </ion-button>
    </ion-grid>
  
</ion-content>
