.imgCatalogo {
    transition: transform 2s ease-in-out;
  }
.Home
  {
    background: radial-gradient(circle, #FBFBFB 0%, rgb(71, 154, 84)   100%);
    
  }

.imgCatalogo:hover{
    transform: scaleX(2);
}

