<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- Botón para llamar a MiPagina -->
    <ion-button expand="block" (click)="iraLogin('Ingreando a Login')">Ir al Login </ion-button>
    <ion-button expand="block" (click)="irACatalogo('Ingresando a acceso')">Ir a Acceso</ion-button>
   
  </div>
</ion-content>